html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  max-width: 100%;
}
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
h2,
p {
  margin: 0;
}
/* Nav */
.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  min-height: 7rem;
  background: #333333;
  width: 100%;
  color: #e0e0e0;
}

.nav-div {
  width: 100%;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.25rem;
}

.nav-cart-div a {
  margin: 0.25rem;
}

#envelope-icon {
  min-height: 18px;
}

.logo {
  width: 135px;
  height: 90px;
}

/* Nav */

/* Main */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-div-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.card-div-container a {
  width: 100%;
}

.card-div-container a:only-child {
  width: 100%;
}

.main-div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  text-decoration: none;
  color: inherit;
}

.main-div a:visited {
  color: inherit;
}

.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
.card-div-container a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-div img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.content-card-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8rem;
  width: 100%;
  padding: 0.8rem;
  box-sizing: border-box;
}

.content-card-div p {
  margin-bottom: 0.5rem;
}
#collection-title {
  font-size: 2.25rem;
  padding: 2rem;
}
h3 {
  font-size: 1.5rem;
}

.dropdown-div {
  width: 100%;
}

#dropdown1 {
  margin-top: 1rem !important;
  width: 50% !important;
  height: auto !important;
}

#dropdown1 li a {
  color: #333333 !important;
  padding: 1rem;
  width: 100%;
}

.dropdown-li {
  padding: 0.5rem;
}

#modal-toggle-btn {
  margin-bottom: 1rem;
  max-width: 20%;
  background-color: #333333;
  color: #e0e0e0;
}

.card-div-container a:only-child {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-div-container a {
    width: 25%;
    flex-grow: 1;
    flex-basis: 25%;
    max-width: 25%;
  }

  .card-div-container a:nth-child(1),
  .card-div-container a:nth-child(2) {
    max-width: 50%;
  }
  .card-div-container a:nth-child(1) {
    max-width: 100%;
  }
  .card-div-container {
    width: 70%;
  }
  .card-div img {
    width: 100%;
  }
  .card-div {
    width: 100%;
  }
  #collection-title {
    font-size: 3rem;
    margin: 5rem auto;
  }
  h3 {
    font-size: 2rem;
  }
  .modal-div {
    width: 70%;
  }
  .tags-container {
    width: 70%;
  }
  #modal-toggle-btn {
    margin-bottom: 1rem;
    max-width: 15%;
  }
  #dropdown1 {
    width: 25% !important;
  }
}
/* Main */
