html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Nav */
.nav-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  min-height: 8.7rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  top: 0;
  z-index: 1000;
  width: 100%;
  color: #e0e0e0;
}

.nav-div {
  width: 100%;
  min-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.25rem;
}

.nav-cart-div {
  margin-right: 1rem;
}

.nav-cart-div a {
  margin: 0.25rem;
}
/* Nav */
